@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap');

:root {
    /* Font sizes (fz) */
    --fz-title-big: 3rem;
    --fz-title-middle: 2rem;
    --fz-title-small: 1.5rem;
    --fz-common-text: 1.06rem;
    --fz-common-text-big: 1.3rem;
    /* Colors */
    --red-btn-color: #bf2828;
    --body-bg: #16171b;
    --blocks-color: #2d2f36;
    --blocks-light-color: #3f424c;
    --accent-color: #01b075;
    --font-color: #fefefe;
    --notification-color: #fc4938;
    font-size: 15px;
}

*, *::before, *::after {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--font-color)
}

body {
    background-color: var(--body-bg);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    max-width: 85%;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper--h {
    flex-direction: row;
}

/* Header */
.header {
    width: 100%;
    padding: 10px 0;
    background-color: var(--blocks-color);
    height: fit-content;
}

.header .container {
    justify-content: space-between;
}

.header__nav {
    justify-content: space-between;
    gap: 20px;
}

.header__sub-nav {
    display: none;
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid var(--font-color);
    justify-content: center;
    gap: 40px;
}

.header__main-link {
    padding: 5px 10px;
    font-size: var(--fz-common-text-big);
    text-decoration: none;
    transition: all 0.2s;
}
.header__main-link:hover {
    transform: scale(1.1);
    text-decoration: underline;
}
.header__main-link--active {
    color: black;
    font-weight: 500;
    border-radius: 5px;
    background-color: var(--accent-color);
}

.header__sub-link {
    padding: 5px 10px;
    text-decoration: none;
    font-size: var(--fz-common-text);
    transition: all 0.2s;
}
.header__sub-link:hover {
    transform: scale(1.1);
    text-decoration: underline;
}
.header__sub-link--active {
    color: black;
    font-weight: 500;
    border-radius: 5px;
    background-color: var(--accent-color);
}


/* Main */
.main {
    flex-grow: 1;
}

section {
    margin-top: 20px;
    margin-bottom: 20px;
}

.title {
    font-weight: 700;
}
.title--big {
    font-size: var(--fz-title-big);
    margin: 20px;
}

.table {
    max-width: 90%;
    font-size: var(--fz-common-text);
    background-color: var(--blocks-color);
    border-radius: 10px;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word;
}
.table__row {
    max-width: inherit;
}
.table__col {
    max-width: 400px;
    padding: 20px 15px;
    word-wrap: break-word;
}
thead {
    font-size: var(--fz-common-text-big);
}
tbody .table__row:nth-child(odd) {
    background-color: var(--blocks-light-color);
}

.form {
    width: 60%;
    font-size: var(--fz-common-text);
    background-color: var(--blocks-color);
    border-radius: 10px;
    padding: 20px;
}
.form label {
    font-size: var(--fz-common-text-big);
    margin-left: 10px;
}
.form input, select, textarea {
    font-size: var(--fz-common-text);
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    background-color: var(--blocks-light-color);
    color: var(--font-color);
    resize: none;
}
.column {
    align-items: start;
    gap: 20px;
}
.add {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.pagination-block {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 20px;
    font-size: var(--fz-common-text);
}

.btn {
    text-decoration: none;
    align-self: center; 
    font-size: var(--fz-common-text-big);
    padding: 10px 15px;
    color: --font-color;
    background-color: var(--blocks-light-color);
    border-radius: 10px;
    border: none;
    transition: all 0.2s;
}
.btn:hover {
    transform: scale(1.05);
    background-color: var(--accent-color);
    color: var(--body-bg)
}
.btn:active {
    transform: scale(0.95);
}
.btn--red {
    background-color: var(--red-btn-color);
    color: var(--font-color);
}
.btn--red:hover {
    background-color: var(--red-btn-color);
    color: var(--font-color);
}

.alert {
    position: relative;
    font-size: var(--fz-common-text-big);
    color: var(--font-color);
    background-color: var(--blocks-light-color);
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    animation: alert-color 3s;
}
@keyframes alert-color {
    0% {color: var(--font-color);
        background-color: var(--blocks-light-color);}
    25% {color: var(--body-bg);
        background-color: var(--accent-color);}
    50% {color: var(--font-color);
        background-color: var(--blocks-light-color);}
    75% {color: var(--body-bg);
        background-color: var(--accent-color);}
    100% {color: var(--font-color);
        background-color: var(--blocks-light-color);}
}

.alert-btn {
    font-size: calc(var(--fz-common-text) * 0.95);
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 50%;
    padding: 0.1em 0.4em;
}
.alert-btn:hover {
    font-size: calc(var(--fz-common-text) * 0.95);
    transform: scale(1.1);
}

.grid-container {
    width: 80%;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    gap: 20px;
}
.grid-container form {
    width: 100%;
}

.contacts-list {
    gap: 5px;
    max-height: 885px;
    overflow-y: scroll;
    font-size: var(--fz-common-text);
    list-style: none;
    padding: 15px;
    background-color: var(--blocks-color);
    color: var(--font-color);
    width: 100%;
    border-radius: 10px;
}
.contacts-list--delete {
    width: 70%;
}

.contact {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
    background-color: var(--blocks-light-color);
    padding: 5px 10px;
    border-radius: 5px;
}
.contact__text, .contact__link {
    margin-right: auto;
}
.contact:hover, .contact:hover > .contact__link, .contact:hover > .contact__text {
    background-color: var(--font-color);
    color: var(--body-bg);
}

.footer {
    background-color: var(--blocks-color);
    height: 50px;
}