@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap');

:root {
    /* Font sizes (fz) */
    --fz-title-big: 3rem;
    --fz-title-middle: 2rem;
    --fz-title-small: 1.5rem;
    --fz-common-text: 1.06rem;
    --fz-common-text-big: 1.3rem;
    --fz-common-text-small: 0.9rem;
    /* Colors */
    --red-btn-color: #bf2828;
    --body-bg: #16171b;
    --blocks-color: #2d2f36;
    --blocks-light-color: #3f424c;
    --accent-color: #01b075;
    --font-color: #fefefe;
    --notification-color: #fc4938;
    font-size: 15px;
}

/* General */
*, *::before, *::after {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--font-color)
}

body {
    background-color: var(--body-bg);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    max-width: 85%;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.wrapper--h {
    flex-direction: row;
}


.btn {
    cursor: pointer;
    text-decoration: none;
    align-self: center; 
    font-size: var(--fz-common-text-big);
    padding: 10px 15px;
    color: --font-color;
    background-color: var(--blocks-light-color);
    border-radius: 10px;
    border: none;
    transition: all 0.2s;
}
.btn:hover {
    transform: scale(1.05);
    background-color: var(--accent-color);
    color: var(--body-bg)
}
.btn:active {
    transform: scale(0.95);
}
.btn--red {
    background-color: var(--red-btn-color);
    color: var(--font-color);
}
.btn--green {
    background-color: var(--accent-color);
    color: var(--body-bg)
}
.btn--red:hover {
    background-color: var(--red-btn-color);
    color: var(--font-color);
}

.alert {
    position: relative;
    font-size: var(--fz-common-text-big);
    color: var(--font-color);
    background-color: var(--blocks-light-color);
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    animation: alert-color 3s;
}
@keyframes alert-color {
    0% {color: var(--font-color);
        background-color: var(--blocks-light-color);}
    25% {color: var(--body-bg);
        background-color: var(--accent-color);}
    50% {color: var(--font-color);
        background-color: var(--blocks-light-color);}
    75% {color: var(--body-bg);
        background-color: var(--accent-color);}
    100% {color: var(--font-color);
        background-color: var(--blocks-light-color);}
}

.alert-btn {
    font-size: calc(var(--fz-common-text) * 0.95);
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 50%;
    padding: 0.1em 0.4em;
}
.alert-btn:hover {
    font-size: calc(var(--fz-common-text) * 0.95);
    transform: scale(1.1);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    font-size: var(--fz-common-text);
    background-color: var(--blocks-color);
    border-radius: 10px;
    padding: 20px;
}
.form fieldset {
    width: 100%;
    border: none;
}
.form label {
    font-size: var(--fz-common-text-big);
}
.form input, select, textarea {
    height: 100%;
    font-size: var(--fz-common-text);
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    background-color: var(--blocks-light-color);
    color: var(--font-color);
    resize: none;
}

.list {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    max-height: 885px;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: var(--fz-common-text);
    list-style: none;
    background-color: var(--blocks-color);
    color: var(--font-color);
    width: 100%;
    border-radius: 10px;
}
.list__item {
    width: 100%;
    min-height: 70px;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    transition: background-color 0.2s;
    word-wrap: break-word;
}
.list__item:not(.list__item--no-select):hover {
    background-color: var(--font-color);
}
.list__item:not(.list__item--no-select):hover > .list__text {
    color: var(--body-bg);
}
.list__item:not(.list__item--no-select):hover > .trust-text {
    background-color: #3f424c;
    color: var(--font-color)
}
.list__item:nth-child(2n) {
    background-color: var(--blocks-light-color);
}
.list__text {
    text-align: center;
    word-wrap: break-word;
}
.list__header {
    font-weight: 700;
}


/* Header */
.header {
    width: 100%;
    padding: 10px 0;
    background-color: var(--blocks-color);
    height: fit-content;
}

.header .container {
    justify-content: space-between;
}

.header__nav {
    justify-content: space-between;
    gap: 20px;
}

.header__sub-nav {
    display: none;
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid var(--font-color);
    justify-content: center;
    gap: 40px;
}

.header__main-link {
    padding: 5px 10px;
    font-size: var(--fz-common-text-big);
    text-decoration: none;
    transition: all 0.2s;
}
.header__main-link:hover {
    transform: scale(1.1);
    text-decoration: underline;
}
.header__main-link--active {
    color: black;
    font-weight: 500;
    border-radius: 5px;
    background-color: var(--accent-color);
}

.header__sub-link {
    padding: 5px 10px;
    text-decoration: none;
    font-size: var(--fz-common-text);
    transition: all 0.2s;
}
.header__sub-link:hover {
    transform: scale(1.1);
    text-decoration: underline;
}
.header__sub-link--active {
    color: black;
    font-weight: 500;
    border-radius: 5px;
    background-color: var(--accent-color);
}


/* Main */
.main {
    flex-grow: 1;
}

section {
    margin-top: 20px;
    margin-bottom: 20px;
}

.title {
    font-weight: 700;
}
.title--big {
    font-size: var(--fz-title-big);
    margin: 20px;
}


/* Channels list */
.channel-form {
    max-width: 50%;
}
.channel-form fieldset {
    display: grid;
    grid-template: 1fr / 1fr 0.4fr;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.channel-form input {
    width: 100%;
}

.channel-list .list__item {
    grid-template-columns: 0.2fr 0.9fr 1.5fr 0.3fr 0.4fr;
    gap: 10px;
}

.trust-text {
    font-size: var(--fz-common-text-big);
    width: fit-content;
    padding: 0.2em 0.35em;
    background-color: var(--font-color);
    color: var(--blocks-light-color);
    border-radius: 50%;
    transition: background-color 0.2s;
    justify-self: center;
}


/* Sign in/up module */
.sign-form {
    max-width: 50%;
}
.sign-form fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.sign-form input {
    width: 100%;
    min-height: 60px;
}
.sign-form label {
    align-self: flex-start;
    margin-left: 10px;
}

.button-box {
    display: flex;
    gap: 20px;
}

/* Fields list */
.grid-container {
    width: 80%;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    gap: 20px;
    justify-content: center;
}

.fields-list {
    width: 100%;
    max-width: 100%;
}
.fields-list .list__item {
    grid-template: 1fr / 0.2fr 1fr 1fr;
}
.fields-list--2 .list__item {
    grid-template: 1fr / 0.1fr 1fr;
}

/* Hashtags list */
.tags-list {
    width: 60%;
}
.tags-list .list__item {
    grid-template: 1fr / 0.1fr 1fr;
}

/* Channel page */
.posts-list {
    min-width: 50%;
    min-height: 50px;
    font-size: var(--fz-common-text);
    list-style: none;
    max-width: 800px;
    overflow-y: scroll;
    background-color: var(--blocks-color);
    border-radius: 10px;
    padding: 15px;
}

.post {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--blocks-light-color);
    padding: 15px;
    border-radius: 10px;
}
.post__header {
    font-size: var(--fz-common-text-big);
    font-weight: 700;
}
.post__content {
    margin-top: 10px;
}
.post__hashtag {
    margin-top: 10px;
    font-weight: 300;
    font-size: var(--fz-common-text-small);
}
.post__owner{
    align-self: flex-end;
}

.post-form {
    max-width: 50%;
}
.post-form--hidden {
    display: none;
}
.post-form input, .post-form label, .post-form textarea {
    align-self: flex-start;
    width: 100%;
}
.post-form input[type='checkbox'] {
    width: fit-content;
}
.post-form fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


.footer {
    background-color: var(--blocks-color);
    height: 50px;
}

.pagination-block {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 20px;
    font-size: var(--fz-common-text);
}